<div class="container">
  <h1>To edit your profile, click the link below:  </h1>
    <a href = "/posts/<%= @post.id %>/edit/<%= @post.key %>"> localhost:9393/posts/<%= @post.id %>/edit?<%= @post.key %> </a>



  <h1>Thank You For Posting on Craigslist! </h1>

</div>