<div class="container">
<!--   <h1>Your Post</h1>
  <% Post.find(params["post_id"].to_i) do |post| %>
  <p><%= post.title %></p>
  <p><%= post.poster %></p>
  <% end %> -->

  <h1>Edit Your Post</h1>
  <form action="/editedpost/<%= params["post_id"]%>" method ="post">

  <textarea cols="40" rows="5" name="title">
<% a = Post.find(params["post_id"].to_i)%>
<%= a.title %>
  </textarea>
<!--   <input type="text" name="post[poster]"> -->
  <input type="submit" value="Flaunt it!!">
  </form>
</div>


