<div class="container">
  <h1>Welcome to Craiglist Jr.!</h1>
  <form action="/categories" method="post">
  <select name="category">
    <% Category.all.each do |category| %>
    <option value=<%= category.id %>><%= category.name %></option>
    <% end %>
  </select>
<!--   <input type="text" name="user_input"> -->
  <input type="submit" value="Craiglist It!">
</form>
</div>